asgiref==3.4.1
backports.zoneinfo==0.2.1
distlib==0.3.8
Django==4.0
djangorestframework==3.13.1
filelock==3.13.1
pillow==10.2.0
pillow-heif==0.14.0
platformdirs==4.1.0
pytz==2021.3
pyvips==2.2.1
sqlparse==0.4.2
tzdata==2021.5
virtualenv==20.25.0
