<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Assist</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}" />
    {% comment %} <link rel="icon" type="image.x-icon" href="{% static "/images/favicon.ico" %}" /> {% endcomment %}
    {% csrf_token %}
  <script defer src="main.js"></script></head>
  <body>
    <div id="app"></div>
      <script src="{% static "/frontend/main.js" %}"></script>
    </body>
</html>